.ttaLogo {
	width: 25px;
	height: 25px;
}

.AGLogo {
	width: 190px;
	height: 95px;
}

.toursLogo {
	width: 30px;
	height: 30px;
}

.reservePax {
	width: 45px;
	height: 35px;
}

.planeIcons {
	width: 35px;
	height: 25px;
}

.petIcon {
	width: 25px;
	height: 25px;
}

.requiredField {
	color: red;
}

.paxNumReserve {
	color: dimgrey;
	font-size: 20px;
}